# l1 inst cache config, i.e., {<config>|dl1|dl2|none}
-cache:il1     none

# l2 instruction cache config, i.e., {<config>|dl2|none}
-cache:il2  none

# l3 instruction cache config, i.e., {<config>|dl3|none}
-cache:il3  none

# l1 data cache config, i.e., {<config>|none}
-cache:dl1     dl1:64:64:1:l

# l2 data cache config, i.e., {<config>|none}
-cache:dl2     none

# l3 data cache config, i.e., {<config>|none}
-cache:dl3     none


# instruction TLB config, i.e., {<config>|none}
-tlb:itlb  none

# data TLB config, i.e., {<config>|none}
-tlb:dtlb  none
